################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InputAnalysis/.vs/InputAnalysis
/InputAnalysis/InputAnalysis/bin/Debug/netcoreapp2.1
/InputAnalysis/InputAnalysis/obj
